<!doctype html>
<html>

<body style="font-family:arial, sans-serif">
    <h1 style="background:lightblue;padding:10px">
            Sales Data prediction tool
    </h1>
    
    <p>Click to use our data tool</p>
    
    <h1><a href="storeSales">Historical store sales</a></h1>
	<h1><a href="itemSales">Historical item sales</a></h1>
	<h1><a href="storeSalesPreds">Predicted store sales</a></h1>
    <h1><a href="itemSalesPreds">Predicted item sales</a></h1>
	<h1><a href="mlModel">Prediction against test data</a></h1>
    <h1><a href="predict">Predict any day/store/item</a></h1>

</body>
</html>